* {
    padding:0;
    margin:0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    margin:0 auto;
}
a {
    color:#333;
    text-decoration:none;
    border: none #FFF;
}
a:hover {
    color:#2077C0;
    text-decoration:underline;
}
img {
    border:0px;
}
img a {
    border:0px;
    text-decoration:none;
}
input {
    color:#333;
    border:1px solid #CFCEDB;
}
textarea {
    color:#333;
    border:1px solid #CFCEDB;
}
table {
    border:0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}
.nen {
    background:#F5F5F5;
    overflow: hidden;
}
.bdmain {
    border-left:1px solid #A8A8A8;
    border-right:1px solid #A8A8A8;
    background:#F0F0F0;
}
.bgnav_outer {
    background: #E6E6E6;
    height: 27px;
    color: #010101;
    line-height: 27px;
}
.bgnav {

    margin: auto;
    font-weight: bold;
}
.chuduoi {
    position:absolute;
    top: 205px;
    left:20px;
}
.detail {
    color: #FF0000;
    font-size:12px;
    text-align: right;
    line-height:21px;
    margin-top: 12px;
}
.detail a {
    color: #FF0000;
    text-decoration:none;
}
.detail a:hover {
    text-decoration:underline;
}
.error {
    color:#D30000;
    font-size:12px;
}
#preview {
    position:absolute;
    border:1px solid #B80101;
    background: #B80101;
    padding:4px;
    display:none;
    color:#FFF;
    font-size:13px;
    line-height: 30px;
    font-weight:bold;
    text-align:center;
}
.titleNews {
    font-size:12px;
    font-weight:bold;
    color: #6C4300;
    line-height: 28px;
    text-decoration:none;
}
.titleNews a {
    font-size:13px;
    color: #6C4300;
    text-decoration:none;
}
.titleNews a:hover {
    color: #6C4300;
    text-decoration:none;
}
.titleNews1 {
    font-size:12px;
    color: #333;
    line-height: 28px;
    text-decoration:none;
}
.titleNews1 a {
    color: #333;
}
.titleNews1 a:hover {
    text-decoration: underline;
}
.titlehome {
    background: #000;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 25px;
    opacity: 0.6;
}
.titlehome a {
    color: #FFF;
    opacity: 1;
}
.btnCart {
    background:#2A2A2C;
    border:none;
    color:#FFF;
    font-size:12px;
    font-weight:600;
    height:27px;
    padding:4px 12px;
    margin: 4px;
}
.btnSend {
    background:#585656;
    border:none;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    width:80px;
    height:25px;
}
.pageCurent {
    background:#F43A3B;
    display:inline-block;
    color:#FFF;
    border:1px solid #F43A3B;
    width:15px;
    font-size:12px;
    text-align:center;
    margin:0 2px;
}
span a.pageLink {
    background:#335ED9;
    display:inline-block;
    color:#FFF;
    border:1px solid #335ED9;
    width:15px;
    font-size:12px;
    text-decoration:none;
    text-align:center;
    margin:0 2px;
}
span a.pageLink:hover {
    background:#F43A3B;
    display:inline-block;
    color:#FFF;
    width:15px;
    font-size:12px;
    text-decoration:none;
    text-align:center;
    border:1px solid #F43A3B;
}
.vien {
    border:1px solid #5683FF;
    border-top:none;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.box {
    border:1px solid #FC8B89;
    border-top: none;
    padding:8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.box1 {
    border: 1px solid #E5E5E5;
    background: #FFF;
    overflow: hidden;
    padding: 0;
}
.box2 {
    border: 1px solid #5C7F8C;
    padding: 8px;
    overflow: hidden;
}
.box3 {
    position: relative;
    overflow: hidden;
    padding: 15px;
}
.box5 {
    float: left;
    margin: 12px;
    width: 474px;
    min-height: 200px;
}
.box4 {
    background: url('/images/bg_Question.png') no-repeat top center;
    float: right;
    margin: 12px;
    width: 394px;
    min-height: 291px;
}
.bdimg {
    border: none !important;
    padding: 0;
    margin: auto;
    min-height: 200px;
}
.blk-star {
    margin-left: 12px;
}
.star {
    background: url('/images/star.png') no-repeat center;
    width: 12px;
    height: 10px;
    display: inline-block;
}
.bdimg2 {
    border: 1px solid #EEE;
}
.bdimg1 {
    width: 170px;
    border: 1px solid #EFEFEF;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.spnb {
    font-weight: bold;
    font-size: 14px;
    padding: 12px 6px;
}
.footerInfor {
    font-size:12px;
    color: #5c5d59;
}
.footerInfor a {
    font-size:12px;
    color: #71726f;
    font-weight: bold;
    padding-left: 20px;
    text-decoration:none;
}
.footerInfor a:hover {
    text-decoration:underline;
}
.paddall {
    padding:20px 12px;
}
.paddtop {
    padding-top: 20px;
}
.paddnone {
    padding: 0;
    margin: auto;
}
.flimg {
    float: left;
    margin-right: 12px;
}
.menupadd {
    padding-top:4px;
    padding-left:1px;
    text-align: left;
    padding-left: 8px;
    width: 180px;
}
.paddleft {
    padding-left:4px;
}
.paddright {
    padding-right:12px;
}
.paddbottom {
    margin-bottom: 8px;
}
.paddbottom img {
    width: 100%;
}
.gachngan {
    height: 14px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #D2D2D2;
}
.ngan {
    border: 1px solid #C8C8C8;
    width: 10px;
    margin-left: 10px;
    overflow: hidden;
    display: block;
}
.bgTitle {
    line-height:23px;
    color:#44382A;
    font-size:14px;
    padding-top:4px;
    padding-left:12px;
    padding-right:12px;
    font-weight:bold;
    border-bottom:2px solid #44382A;
}
.dscroll {
    width:100%;
    overflow:auto;
    height: 927px;
}
.proName {
    color: #ed1c24;
    font-size: 13px;
    font-weight:bold;
    line-height:21px;
    text-align: center;
    margin: 8px 0px;
}
.proName h2 {
    color: #ab7a2b;
    font-size: 13px;
    font-weight:bold;
    line-height:21px;
    text-align: center;
    margin: 8px 0px;
}
.proName a {
    color: #ab7a2b;
    text-decoration: none;
}
.proName a:hover {
    text-decoration: underline;
}
.price {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.price span {
    color: #D30202;
}
.price1 {
    color: #D30202;
    font-size: 16px;
    font-weight:bold;
    line-height: 28px;
}
.price_detail {
    font-size: 16px;
    color: #ed1c24;
    margin-right: 5px;
    text-align: center;
}
.price_detail a {
    color: red;
}
.star {
    background: url('/images/star.png') no-repeat left;
    height: 12px;
    width: 72px;
    padding: 8px 0px;
}
.price2:hover {
    background: url('/images/chittiet_hover.png') no-repeat center;
    width: 78px;
    line-height: 24px;
}
.new-price {
    font-size: 14px;
    color: #E50112;
}
.pro-price {
    background: url('/images/price.png') no-repeat center;
    display: block;
    width: 86px;
    line-height: 21px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.pro-price a {
    color: #FFF;
}
.imgprice {
    padding-top: 4px;
    padding-bottom: 12px;
}
.bgft2 {
    color:#A9C646;
    font-weight:bold;
    text-transform:uppercase;
    font-size:12px;
}
.bgft2 a {
    color:#A9C646;
}
.hrnw {
    border-bottom:1px dashed #D60000;
}
.mauvien {
    border:1px solid #5683FF;
    border-bottom:none;
}
.stitle {
    color:#023F88;
    font-size:13px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:26px;
    padding-left:10px;
    display:block;
    width:150px;
    border-bottom:1px solid #023F88;
}
.cach {
    padding:4px;
}
.paddtop {
    padding-top:8px;
}
.cachmn {
    padding:0 6px;
    background:#FFF;
}
.cangiua {
    text-align: center;
    padding: 0;
}
.titlesupport {
    font-size: 14px;
    color: #424242;
    font-weight: bold;
    line-height: 34px;
}
.titledm {
    background: url('/images/hoanglam_22.png') no-repeat 233px center;
}
.chudo {
    color: #D30202;
}
.mnleft {
    background: #E4F0FF;
    padding: 4px 10px;
    border: 1px solid #C0D3EB;
    border-top: none;
}/*================================================*/
.container {

}
#header_outer {
    position: relative;
}
#header {
    position: relative;
    padding: 0;
    margin-bottom: 8px;
}
#wrapper_outer {
}
#wrapper {

}
.boxleft {
    width: 204px;
    border: 1px solid #C5C5C5;
    margin-bottom:3px;
    margin-right: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.boxright {
    margin-bottom:8px;
}
.boxmain {
    margin: auto;
    overflow: hidden;
    margin-bottom: 8px;
}
.boxcontent {
    margin: 15px auto;
}
#content_left {
    position: relative;
    padding-left: 0px;
    padding-right: 8px;
    width: 22%;
}
#content_main {
    position: relative;
    padding: 0;
    width: 78%;
}
#content_right {
    position: relative;
    padding-left: 8px;
    padding-right: 0px;
    width: 22%;
}
.hd {
  max-height: 100px;
}
.hd .hd-logo {
  float: left
}
.hd-logo img {
  width: 20%;
}
.hd-search {
  width: 40%;
  position: absolute;
  right: 30%;
  top: 25%;
}
.hd-info {
    background: #F4F4F4;
    line-height: 35px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #555555;
}
.navbar_outer {
    margin: 2px auto;
    position: relative;
    background: url('/images/menu.jpg') repeat-x;
    height: 47px;
}
#footer_outer {
    background: #744600;
    width: 100%;
    margin:0 auto;
}
#footer {
    position: relative;
    margin: auto;
    padding: 15px;
    min-height: 157px;
}
.clear {
    clear: both;
}
.footer_menu {
    background: #E3F5BD url('/images/giuuytin_39.png') no-repeat bottom;
    height: 40px;
    line-height: 30px;
    padding-left: 20px;
    color: #FFF;
}
.footer_menu span {
    margin: 0 20px;
}
.footer_menu a {
    color: #FFF;
}
.ft-address, .ft-address p, .ft-address p a {
    padding-top: 8px;
    line-height: 21px;
    color: #FFF;
}
.ft-link {
    line-height: 36px;
    background: #5B3700;
    border-top: 1px solid #B9B9B9;
    text-align: center;
    margin: auto;
}
.ft-share {
    margin-bottom: 20px;
    margin-top: 3px;
}
.ft-link a {
    color: #FFF;
}
.muahang a {
    display: block;
    width: 105px;
    margin-top: 12px;
    text-align: center;
    line-height: 26px;
    color: #FFF;
    background: #094FA3;
    border-radius: 8px;
}
.searchProduct {
    background: url('/images/intheu_04.png') no-repeat;
    background-position: left;
}
.sl-search select {
    margin-left: 20px;
    width: 150px;
    height: 24px;
}
.content {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: justify;
    color: #000;
}
.bgcontent {
    background: url('/images/tanvietan_29-13.png') repeat-x;
    background-position: bottom;
    min-height: 250px;
    margin: 4px 8px;
    border: 1px solid #DADADA;
    border-top: none;
}
.content ul li, .content ol li {
    margin-left: 20px;
}
.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}
.pagination span a {
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
}
.pagination .next {
    border-radius: 0px;
    border:none;
    color: #57A000;
    text-decoration: none;
}
.pagination .current {
    background: #900101;
    color: #fff !important;
    border: 1px solid #ddd;
    margin: 0 5px 0 0;
    padding: 3px 6px;
    border-radius: 4px 4px 4px 4px;
}
.pagination .current:hover {
    text-decoration: underline;
    border: 1px solid #DDDDDD;
}
.gachadv {
    background: url('/images/bg_slide.png') no-repeat center;
    height: 20px;
}/* ################### Menu Doc################### */
ul#menu1 {
}
ul#menu1 li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#menu1 li a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding-left: 32px;
    font-weight: bold;
    line-height: 30px;
    background: url('/images/list_style1.gif') no-repeat 10px center;
    color: #5E3A00;
    border-bottom: 1px solid #E5E5E5;
}
ul#menu1 li a:hover {
    text-decoration: underline;
}
ul#menu1 li ul li a {
    background: url('/images/tron.png') no-repeat 20px 8px;
    padding-left: 40px;
    font: 12px/23px Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #717171;
    border: none;
    margin-top: 0px;
    line-height: 24px;
}
.titleintro {
    color: #FFF;
    padding-left: 20px;
    font-weight: bold;
    font-size: 13px;
    background: #FF0000;
    padding:6px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dichvu {
    background: url('/images/index-sukien_17.png') no-repeat;
    width: 186px;
    height: 32px;
}
.dt1 {
    background: url('/images/sango_24.png') no-repeat;
    height: 150px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-top: 72px;
    color: #C30000;
}
.dt2 {
    background: url('/images/hotline.png') no-repeat;
    color: #000;
    padding-left: 93px;
    font-size: 14px;
    font-weight: bold;
}
.dt3 {
    background: url('/images/giohang.png') no-repeat;
    color: #FFF;
    padding-left: 41px;
    font-size: 14px;
    font-weight: bold;
}
.titonline {
    background: url('/images/index_13.png') no-repeat;
    height: 32px;
}
.contentnews {
    text-align: justify;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.imgnews img {
    border: 1px solid #CCC;
    padding: 2px;
    background: #FFF;
    float: left;
    margin-right: 8px;
}
.sepa {
    height: 10px;
    border-bottom: 1px dotted #CFCFCF;
    margin-bottom: 12px;
}
.titlepro {
    color: #0b4471;
    font-size: 24px;
    line-height: 40px;
    border-bottom: 1px solid #B1B1B1;
}
.titlepro a {
    text-decoration: none;
}
.titlepro a:hover {
    text-decoration: underline;
}
.titleleft {
    background: url('/images/menu.jpg') repeat-x;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 30px;
    color: #FFF;
    border-radius: 8px 8px 0 0;
}
.titleright {
    background: url('/images/titleleft.png') repeat-x;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 30px;
    color: #FFF;
}
.box-title {
    background: url('/images/menu.jpg') no-repeat;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}
.titlemain {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 20px;
    color: #FFF;
    line-height: 33px;
}
.titlemain3 {

}
.titlemain a, .titleright a {
    color: #FFF;
}
.sub-menu {
    display: inline-block;
}
.sub-menu a {
    padding: 8px 35px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.sub-menu a:hover {
    border-top: 2px solid #A21001;
}
.titlemain1 {
    background: #333 url('/images/icon-logo.png') no-repeat 8px 4px;
    padding-left: 56px;
    font-size: 13px;
    line-height: 43px;
    font-weight: normal;
    color: #FFF;
    text-transform: uppercase;
}
.titlemain2 {
    clear: right;
}
.gach1 {
    background: url('/images/gach1.png') no-repeat center;
    height: 10px;
}
.bgproduct {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding: 8px;
}
.bgproduct:nth-child(4n + 1) {
    margin-right: 0px;
}
.boximg {
    border: 1px solid #D7D7D7;
    padding: 4px;
}
.boximg:hover {
    border: 1px solid #F09000;
}
.box-img {
    overflow: hidden;
}
.menu-right {
    position: absolute;
    width: 200px;
    bottom: 27px;
    right: 20px;
}
#search-product {
    position: absolute;
    right: 0;
    top: 6px;
    width: 223px;
}
.bgsearch {
    background: url('/images/bgsearch.png') no-repeat left;
    height: 23px;
    width: 185px;
    padding-left: 20px;
    float: left;
    color: #333;
    border: 0;
}
.bgselect {
    background: url('/images/bgselect.png') no-repeat left;
    width: 152px;
    height: 26px;
    float: left;
    margin-right: 20px;
    overflow-x: hidden;
}
#flag {
    background: url('/images/phone.png') no-repeat left;
    position: absolute;
    bottom: 49px;
    right: 8px;
    color: #07507B;
    font-size: 14px;
    padding-left: 30px;
    z-index: 10;
}
#flag1 {
    background: url('/images/cart.png') no-repeat left;
    padding-left: 30px;
    position: absolute;
    bottom: 82px;
    right: 8px;
    color: #FFF;
    font-size: 14px;
    z-index: 10;
}
#flag2 {
    position: absolute;
    bottom: 12px;
    right: 8px;
    z-index: 10;
}
#flag3 {
    position: absolute;
    top: 18px;
    right: 23px;
    z-index: 10;
}
#flag1 a {
    color: #FFF;
}
.tinhot {
    background: url("../images/titleleft.png") no-repeat scroll 8px 6px transparent;
    color: #6F4300;
    font-size: 12px;
    line-height: 28px;
    padding-left: 31px;
    text-align: left;
}
.tinhot1 {
    background: url("../images/vuong.png") no-repeat scroll 0 9px transparent;
    color: #333;
    font-size: 12px;
    line-height: 27px;
    padding-left: 15px;
    font-weight: bold;
}
.tinhot2 {
    color:#FFF;
    font-size:12px;
    line-height:28px;
    font-weight:normal;
    text-align:left;
}
.tinhot1 a {
    color:#333;
    text-decoration:none;
}
.tinhot a, .tinhot2 a {
    color: #6F4300;
    text-decoration: none;
}
.tinhot a:hover, .tinhot1 a:hover, .tinhot2 a:hover {
    text-decoration: underline;
}
.home-dm {
    background: #FFF url('/images/bg_footer.png') repeat-x bottom;
    border: 1px solid #E3E3E3;
    min-height: 260px;
}
.caijiday {
    background: url('/images/cong.png') no-repeat 20px 20px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 40px;
    line-height: 50px;
}
.box-home {
    min-height: 215px;
    width: 291px;
    float: right;
}
.box-home1 {
    min-height: 209px;
    float: left;
    width: 291px;
    margin-right: 36px;
}
.title-home {
    font-size: 16px;
    color: #B80101;
    font-weight: bold;
    line-height: 30px;
    padding-left: 16px;
}
.title-home1 {
    background: url('/images/home_19.png') no-repeat;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
.title-home2 {
    background: url('/images/vng-home_25.png') no-repeat;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
ul#option li {
    list-style: none;
    float: left;
    width: 170px;
    margin-right: 10px;
}
.partner {
    float: left;
    width: 165px;
    height: 80px;
    background: #EBEBEB;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}
.titlefield {
    color: #6a6767;
}
.titlefield1 {
    color: #0768a0;
    font-weight: bold;
}
input {
    border: 1px solid #D3D3D3;
}
.txt-in {
    width: 180px;
    height: 23px;
}
.txt-sl {
    width: 180px;
    height: 23px;
    border: 1px solid #D3D3D3;
}
.txt-ta {
    width: 670px;
    height: 145px;
    border: 1px solid #D3D3D3;
}
.btn1 {
    background: #686868;
    color: #FFF;
    padding: 2px 8px;
}
.btn2 {
    background: #DD1C24;
    color: #FFF;
    padding: 2px 8px;
}
.red {
    color: #DD1C24;
}
.slideadv {
    border-top: 2px solid #F07E04;
    padding-top: 12px;
    margin: auto;
}
.box-new {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0px 12px;
}
.box-new img {

}
.box-new1 {
}
.box-new2 {
    width: 195px;
    margin-right: 20px;
    float: left;
    border-bottom: 1px solid #B4B4B4;
}
.box-new3 {
    width: 195px;
    margin-right: 20px;
    float: left;
    border-bottom: 1px solid #B4B4B4;
}
.box-new1 img, .box-new2 img {
    width: 100%;
}
.view-1 {
    border-top: 1px solid #E5E5E5;
    padding-top: 8px;
    margin-top: 12px;
    overflow: hidden;
    position: relative;
}
.xemchitiet img {
    width: 80px;
    height: 13px;
    float: right;
    margin: 12px 0px;
}
.ngay {
    background: url('/images/time.png') no-repeat;
    padding-left: 20px;
    float: left;
}
.tinkhac {
    color: #D22B22;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 28px;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;
    padding-left: 12px;
}
.padd4all {
    padding: 0 8px 8px 8px;
}
#mnleft ul li {
    list-style: none;
}
#mnleft ul li a {
    background: url('/images/sepa.png') no-repeat top right;
    color: #FFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 34px;
    text-decoration: none;
}
.hotline {
    background: url('/images/phone.png') no-repeat left;
    padding-left: 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 20px;
    color: #FF9600;
    font-weight: bold;
    line-height: 24px;
}
.yahooHotline {
    border: solid 1px #cccccc;
    border-radius: 18px;
    background: url('/images/Yahoo.png') no-repeat 10px center;
    margin: 10px 15px 10px 10px;
    color: #143a83;
    padding: 8px;
    padding-left: 60px;
    font-size: 12px;
    font-weight: bold;
    display: block;
}
.box-col-1 {
    float: left;
    width: 25%;
}
.box-col-2 {
    float: right;
    width: 405px;
}
.datve {
    background: url('/images/Plane.png') no-repeat 20px 20px;
    color: #FFF;
    height: 40px;
    line-height: 35px;
    padding-left: 70px;
    padding-top: 19px;
    font-weight: bold;
    font-size: 18px;
}
.search {
    background: url('/images/SearcFlyBtn.png') no-repeat center center !important;
    border: none !important;
    font-size: 22px !important;
    height: 66px !important;
    width: 232px !important;
    margin-top: 10px !important;
    float: right !important;
    color: #fff !important;
    font-weight: bold !important;
    text-align: right !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 1px 1px #b87929 !important;
    padding-right: 13px !important;
    margin-right: 6px;
}
.dateoption {
    background: url('/images/bg_textbox_03.jpg') repeat-x !important;
    height: 26px !important;
    border-radius: 3px !important;
    width: 60px !important;
    line-height: 26px !important;
    border: solid 1px #909090 !important;
    margin-top: 5px !important;
    float: none !important;
}
.monthoption {
    background: url('/images/bg_textbox_03.jpg') repeat-x !important;
    height: 26px !important;
    line-height: 26px !important;
    border-radius: 3px !important;
    width: 120px !important;
    border: solid 1px #909090 !important;
    margin-left: 5px !important;
    margin-top: 5px !important;
    float: none !important;
}
.personoption {
    background: url('/images/bg_textbox_03.jpg') repeat-x;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    width: 90px;
    border: solid 1px #909090;
    margin-top: 5px;
}
.normal-font-white14 {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.smallText2 {
    font-size: 12px !important;
    color: #aecde8 !important;
    line-height: 14px !important;
}
.bold-font-white14 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}
.view-clip {
    background: url('/images/tube.png') no-repeat center left !important;
    display: block !important;
    padding-left: 40px !important;
    line-height: 30px !important;
    color: #fff !important;
    font-size: 12px !important;
    float: left !important;
    margin: 15px 15px 0px 0px !important;
}
.diemdi {
    background: url('/images/up.png') no-repeat center right;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    width: 210px;
    display: block;
}
.diemden {
    background: url('/images/down.png') no-repeat center right;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    width: 210px;
    display: block;
}
.startplace, .endplace {
    background: url('/images/bg_textbox_03.jpg') repeat-x !important;
    height: 29px !important;
    width: 202px !important;
    line-height: 29px !important;
    margin: 6px 0px !important;
    border: solid 1px #909090 !important;
    padding: 0px 6px !important;
    border-radius: 3px !important;
    float: none !important;
}
.line6 {
    background: url('/images/line6.png') repeat-x;
    height: 2px;
}
.blank10 {
    background: url('/images/line6.png') repeat-x;
    height: 10px;
}
.vemaybay {
    float: left;
    margin: 8px;
    width: 219px;
    min-height: 200px;
}
.vemaybay ul li a {
    color: #1c4179;
    font-weight: normal;
    text-decoration: none;
}
.searchBlock {
    height: 33px;
    width: 309px;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 10;
}
.search-text .input-text {
    background: url('/images/bg_search.png') no-repeat left;
    border: 0;
    width: 226px;
    height: 33px;
    float: right;
    padding-left: 52px;
}
.search-button {
    height: 33px;
    width: 26px;
    float: left;
}
.trang {
    background: #FFF;
    overflow: hidden;
}
.slideadv {
}
.mobile-info table {
    width: 100%;
}
.mobile-info table td {
    border-collapse: collapse;
    border: 1px solid #DBDBDB;
    padding: 8px;
}
.side-logo {
    float: left;
    margin-right: 20px;
}
.flr {
    float: right;
}
.fll {
    float: left;
}
.side1 {
    padding: 12px;
    float: left;
    background: #FBFBFD;
    width: 211px;
    margin-right: 12px;
    box-shadow: 2px 2px 8px 4px #9F9F9F;
    min-height: 439px;
}
.side2 {
    float: left;
    background: #FFF;
    width: 538px;
    margin-right: 12px;
    box-shadow: 2px 2px 8px 4px #9F9F9F;
}
.side3 {
    width: 202px;
    background: #FFF;
    float: right;
    min-height: 463px;
}
.chiacot {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
    line-height: 19px;
}
.ft-col1 {
    float: left;
    padding: 12px;
    width: 300px;
    min-height: 192px;
}
.ft-col2 {
    float: left;
    padding: 12px;
    width: 300px;
    min-height: 192px;
}
.titleft {
    font-weight: bold;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    padding-left: 13px;
    display: block;
    line-height: 26px;
    margin-bottom: 8px;
    color: #FFF;
}
.ft-row1 {
    border-top: 1px solid #999;
}
.ft-row1 a {
    font-weight: bold;
    color: #FFF;
}
.cart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #95C125;
    padding: 3px 12px;
    border-radius: 6px;
}
.cart a {
    color: #FFF;
}
.saleoff {
    position: absolute;
    top: -1px;
    right: 0;
    background: url('/images/saleoff.png') no-repeat;
    width: 54px;
    height: 54px;
    line-height: 54px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.box-sp {
    margin-left: -8px;
    margin-right: -8px;
}
.xanh {
    background: #53C0E7;
}
.chutrang {
    color: #FFF;
}
.thefield input {
    height: 24px;
}
.home-new {
    float: left;
    width: 256px;
    margin: 10px;
}
.ft-dm {
    width: 500px;
    float: left;
    margin-left: 20px;
}

.hot-ft {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #000;
    font-weight: bold;
    line-height:  21px;
    z-index: 100000;
    background: #F4F4F4;
}
.hot-ft p {
    padding-left: 13px;
    font-size: 14px;
}
.tt-ft {
    background: #2E2E2E url('/images/logo.png') no-repeat 12px;
    line-height: 38px; font-size: 16px;
    font-weight: bold;
    padding-left: 56px;
    color: #FFF;
    padding-right: 12px;
}
.slider-logo1 {
    margin: auto;
    text-align: center;
    padding: 8px;
    padding-left: 0;
    border: 1px solid #E1E1E1;
    height: 115px;
    overflow: hidden;
}
.paddbottom2 {
    margin: 0px 4px;
    float: left;
}
.paddbottom2 img {
    height: 80px;
}
.ft-share1 {
    margin-bottom: 20px;
    color: #FFF;
}
.ft-share1 p {
    line-height: 19px;
    padding-left: 12px;
}
.ft-share1 a {
    color: #FFF;
}
.offleft {
    padding-left: 0px !important;
}
.offright {
    padding-right: 0px !important;
}
.menucon {
    position: absolute;
    right: 10px;
    top: 0;
}
.submn {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 24px;
}
.submn a {
    color: #424242;
}
.mnact {
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #F1B941;
}
.mnact a {
    color: #F1B941;
}
.img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F0ECE9;
    height: 40px;
    width: 100%;
    opacity: 0.9;
}
.bgsupport {
    background: url('/images/dhan_22.png') no-repeat left center;
    padding-left: 62px;
    border-bottom: 1px solid #AAABAB;
}
.ft-title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #FFF;
}
@media(max-width: 767px){
    .container {
        width: 100%;
    }
    #flag {
        background: url('/images/phone.png') no-repeat left;
        top: 66%;
        left: 8px;
    }
    #flag1 {
        background: url('/images/cart.png') no-repeat left;
        top: 66%;
        right: 8px;
    }
  #content_main {
    width: 100%;
  }
}
.top-adress {
  bottom: 0px;
  right: 16px;
  font-size: 15px;
  padding: 30px 0px 0px 15px;
}
.icon1 {
    background: url('/images/menu.jpg') repeat-x;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    padding-left: 50px;
    color: #FFF;
}
.icon2 {
    background: url('/images/menu.jpg') repeat-x;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 50px;
    color: #FFF;
    font-weight: bold;
}

.box-category {
    background: url('/images/menu.jpg') repeat-x;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 50px;
    color: #FFF;
    font-weight: bold;
}

.gmail {
    background: url('/images/gmail.png') no-repeat left;
    font-weight: bold;
    padding-left: 40px;
    line-height: 26px;
    margin: 8px 0px;
}
.facebook {
    background: url('/images/facebook.png') no-repeat left;
    font-weight: bold;
    padding-left: 40px;
    line-height: 26px;
    margin: 8px 0px;
}

.top-hotline {
    border: 1px solid #ccc;
    margin-top: 30px;
}

p.title {
    background: #ed1c24;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding-left: 15px;
    text-transform: uppercase;
}

.phone-hotline {
    background-color: #fff;
    padding: 12px 0 5px 10px;
    line-height: 20px;
    overflow: hidden;
}

.phone-hotline .info-phone {
    color: #2D1717;
    font-size: 15px;
    display: block;
    font-weight: bold;
    min-height: 40px;
    float: left;
    margin-top: -5px;
    width: 88%;
}
.pre-footer{
  margin-top: 30px;
  background-color: #eee;
}
.footer-middle{
  padding-bottom: 15px;
  padding-top: 30px;
  overflow: hidden;
}
.footer-middle h2{
  border-bottom: 1px solid #ccc;
  color: #292929;
  padding: 0 0 10px 0;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.footer-middle h2:after{
  background-color: #ed1c24;
  bottom: -1px;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 1px;
  width: 50%;
}
.footer-middle ul li {
  padding: 4px 0;
  transition: all 0.3s ease-out 0s;
}
.footer-ttw ul li :before, .footer-kh ul li :before{
  content: "\f105";
  font-family: fontawesome;
  display: inline-block;
  font-size: 12px;
  font-family: fontawesome;
  margin: 0 12px 0 0;
  position: relative;
}
.footer-middle ul li:hover a{
  color: #ed1c24;
}
.footer-middle ul li a{
  color: #666;
  transition: all 0.3s ease-out 0s;
}
.footer-middle ul li a:hover{
  text-decoration: none;
  padding-left: 15px;
}
.footer-kn li{

}
.footer-kn li .fa{
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}
.footer-kn li:hover .fa{
  border-radius: 50%;
  transition: all 0.1s ease 0s;
  opacity: 0.75;
}
.footer-kn li .fa:before{
  margin-left: 2px;
  font-size: 14px;
}
.fa-facebook{
  background-color: #0f62b7;
}
.fa-twitter{
  background-color: #41ade2;
}
.fa-google-plus{
  background-color: #e14938;
}
.fa-youtube-play{
  background-color: #ef1438;
}
.footer-kn li a{
  margin-left: 10px;
}
.footer-dc ul li a{
  color: #ed1c24;
  margin-left: 10px;
}
.footer-copyright{
  background-color: #ddd;
  padding: 20px 0 15px;
}
.copy-right span{
  color: #ed1c24;
}
.footer-copyright .status{
  text-align: right;
}
.title-sp {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
}
.path-acc {
  float: left;
  width: 100%;
  height: 28px;
}

.path-acc h2 {
  float: left;
  height: 28px;
  margin-left: 6px;
  background: url(/images/icon-next-1.gif) no-repeat scroll left 9px transparent;
  white-space: nowrap;
}

.path-acc h2 a {
    float: left;
    padding-left: 15px;
    color: #fff;
    font: 12px/28px Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
}