.header-top
  .container
    .row
      .col-md-8.col-sm-9.top-left
        .banner-header
          %a{:href => "/"}
            %img{:alt => "", :src => "/images/banner-header.png"}/
      .col-md-3.col-sm-3.top-right
        .logo
          %a{:href => "/"}
            %img{:alt => "Hoanganh", :src => "/images/logo.png"}/